# Dependency directories
/node_modules

# Environment files
.env

# Build files
/build
/dist

# IDE/Editor specific files
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp
*.suo
*.tmp
*.user
*.userosscache
*.sln.docstates